@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');
@import "tailwindcss";

@theme {
  --font-rubik: 'Rubik', sans-serif;
  --font-dynapuff: 'DynaPuff', cursive;

  --color-background: #FFFAFA;
  --color-primary-orange: #FF7300;
  --color-secondary-orange: #FFB730;
  --color-primary-purple: #B908DD;
  --color-secondary-purple: #FF67FB;
  --color-green: #02A759;
}
